@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');



*{
    margin: none;
    box-sizing: border-box;
}

body{
animation-name: fond;
animation-duration: 15s;
animation-iteration-count: infinite;
}


@keyframes fond{
    0%{background-image: url("../img/pink.svg");
        background-repeat: no-repeat;
        background-size: cover;}
    25%{background-image: url("../img/blue.svg");
        background-repeat: no-repeat;
        background-size: cover;}
    50%{
        background-image: url("../img/rose.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%{
        background-image: url("../img/blurose.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    100%{background-image: url("../img/pink.svg");
        background-repeat: no-repeat;
        background-size: cover;}
}

h1{
    text-align: center;
    color: rgb(129, 24, 228);
    font-size: 5em;
    font-family: 'Bungee Shade', cursive;

}

.card{
    cursor: pointer;
    box-shadow: 4px 5px 5px black;
}

.card:hover{
    box-shadow: 8px 8px 8px black;
    transition-duration: 0.2s;
}

.card:active{
    box-shadow: 3px 4px 4px black;
    transition-duration: 0.1s;
}

main{
    padding: 70px;
    border-radius: 25px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 16.6666%;
    height: 200px;
    padding: 16px;
}
.card {
    background: gray ;
    height: 100%;
    border-radius: 10px;
}

.bg-red {
    background-color: red;
}.bg-green {
    background-color: green;
}.bg-yellow {
    background-color: yellow;
}.bg-blue {
    background-color: blue;
}.bg-white {
    background-color: white;
}.bg-red {
    background-color: orange;
}

